*{
	padding: 0;
	margin: 0;
}
body{
	background: url(Gas_station.jpg) no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-flow: row wrap;
	font-family: sans-serif;
}
.container{
	position: relative;
	margin-top: 70px;
	width: 350px;
	height: auto;
	background: black;
	border-radius: 5px;
}
.label{
	padding: 20px 100px 0;
	font-size: 20px;
	font-weight: bold;
	font-family: verdana;
	color: orangered;
}
.profile_form{
	padding: 20px 40px;
}
.profile_form .font{
	font-size: 15px;
	color: orangered;
	margin: 5px 0 3px;
}
.profile_form input{
	height: 25px;
	width: 250px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	margin: 2px 0 5px 0;
	border: 1px solid silver;
}
.profile_form .font2{
	margin-top: 30px;
}
.profile_form button{
	margin: 35px 0 0 0;
	height: 25px;
	width: 265px;
	font-size: 15px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: darkred;
	border-radius: 1px;
	border: 1px solid #3949AB;
	transition: .5s;
}
.profile_form button:hover{
	background: darkgreen;
}
.profile_form #fullname_error,
.profile_form #address1_error,
.profile_form #city_error,
.profile_form #zipcode_error,
.profile_form #state_error{
	margin-top: 5px;
	width: 200px;
	font-size: 12px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}
